<div class="head">
  <div class="text-head">
    <h1>Apple Store</h1>
    <h4>by PumPer</h4>
  </div>
</div>
<!-- <div *ngFor="let item of data">
    <img src="{{ item.cover }}" alt="" class="categories" />
  </div> -->
<!-- <a routerLink="/shop/iphone"><button>Iphone</button></a> -->

<div class="categories1">
  <a routerLink="/shop/iphone">IPhone</a>
</div>
<div class="categories2">
  <a routerLink="/shop/ipad">IPad</a>
</div>
<div class="categories3">
  <a routerLink="/shop/mac">Mac</a>
</div>

<!-- <div class="grid-container">
    <div class="section_grid_item">
      <a routerLink="/shop/iphone">
        <p>IPhone</p>
        <div class="section_item_img">
          <img
            src="https://www.apple.com/newsroom/images/product/iphone/standard/Apple_iphone_11-rosette-family-lineup-091019_big.jpg.large.jpg"
            alt=""
            class="product"
          />
        </div>
      </a>
    </div>
    <div class="section_grid_item">
      <a href="">
        <p>IPad</p>
        <div class="section_item_img">
          <img
            src="https://mediam.istudio.store/media/wysiwyg/ipad-air.jpeg?auto=webp&format=pjpg&quality=85"
            alt=""
            class="product"
          />
        </div>
      </a>
    </div>
    <div class="section_grid_item">
      <a href="">
        <p>Mac</p>
        <div class="section_item_img">
          <img
            src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/HA244?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1670455592623"
            alt=""
            class="product"
          />
        </div>
      </a>
    </div>
  </div> -->
