.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

img {
  width: 350px;
  margin-right: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 40px;
}

button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 200px;
  background-color: azure;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 25px;
}
