<header>
  <div class="warp">
    <a routerLink="home"
      ><img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Apple_logo_grey.svg/800px-Apple_logo_grey.svg.png"
        alt=""
        class="logo"
    /></a>
    <div class="mainLink">
      <ul>
        <li><a routerLink="shop">Shop</a></li>
        <li><a routerLink="product">Product</a></li>
        <li>
          <a routerLink="cart" class="cart"
            ><span class="material-symbols-outlined"> shopping_cart </span></a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
<body>
  <router-outlet></router-outlet>
</body>
<footer>
  <table>
    <tr>
      <td></td>
      <td>
        <a href="https://github.com/PumXPer" class="footA">
          <img
            src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Github-512.png"
            alt="gitHub"
            class="mainImg"
          />
        </a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>❮❯ by PumPer 2023</td>
      <td></td>
    </tr>
  </table>
</footer>
